body {
  font-family: Verdana;
}

section {
  text-align: center;
}

.background {
  background-color: black;
}

.title {
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

.download {
  color: aquamarine;
  font-size: 16px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

.description {
  font-size: 21px;
  color: gray;
}

.icon {
  margin-top: 40px;
}
